<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>503907016072-ndmd4lfjtim1d3p63567banhq9ctgtmg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.503907016072-ndmd4lfjtim1d3p63567banhq9ctgtmg</string>
	<key>API_KEY</key>
	<string>AIzaSyDSyCwPGl0VM2-jkDEgIAtINEawBMjVT5k</string>
	<key>GCM_SENDER_ID</key>
	<string>503907016072</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>uz.infomix.mobile.airfel</string>
	<key>PROJECT_ID</key>
	<string>infoproleo</string>
	<key>STORAGE_BUCKET</key>
	<string>infoproleo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:503907016072:ios:9d3825d7d16db73c646e3d</string>
</dict>
</plist>